<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>

    <nav class="">
        <div class="nav container">

            <div class="links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/users/wallet">Wallet</a></li>
                    <li><a href="/users/sendmoney">Send Money</a></li>
                    <li><a href="/users/requestpage">Request Money</a></li>
                    <li><a href="/users/pending">Request Received</a></li>

                    <li><a href="/users/transaction">Transaction</a></li>

                    <% if(locals.user){ %>
                        <li>
                            <a href="/users/profile">
                                <%= user.name %>
                            </a>

                        </li>
                        <li><a href="/users/sign-out">Sign-out</a></li>
                        <% } else { %>
                            <li class="signin-h"><a href="/users/sign-in">sign-in</a></li>
                            <li class="signup-h"><a href="/users/sign-up">sign-up</a></li>
                            <% } %>

                </ul>
            </div>
        </div>
    </nav>

</body>

</html>