<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mian">
        <form action="/money/add" class="add" method="post">
            <label for="amount">Enter Amount:</label>
            <input type="number" name="amount" id="amount" required>
            <button type="submit">Add Money</button>
        </form>
        <a href="https://rzp.io/l/r2KUg9MFnr" style="font-size: 2rem;">Add</a>
    </div>

    <!-- views/payment.ejs -->
<!DOCTYPE html>
<html>
<head>
   
</head>
<body>
    <h1>Complete Payment</h1>
    <form action="/verifyPayment" method="post">
        
        <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_MRWk1TNuLdSIrm" async></script>
    </form>
    
    
</body>
</html>

</body>
</html>