<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1 class="head" style="text-align: center; margin-top: 2%;">Virtual Wallet</h1>
    <div class="main-c ">
        <% if(locals.user) {%>
            <h1>Hi <%= user.name %>
            </h1>




    </div>

    <div class="section">


        <div class="bar">
            <h2>Hi <%= user.name %>
            </h2>
            <h2>You Are a <%= user.userType %> User</h2>
            <h2>Wallet Balance: <%= user.walletBalance %>
            </h2>
        </div>

        <div class="redirect-links">

            <ul>
                <li><a href="/users/wallet"><img src="https://cdn-icons-png.flaticon.com/128/3258/3258446.png" alt=""><span>Wallet</span></a></li>
                <li><a href="/users/sendmoney"><img src="https://cdn-icons-png.flaticon.com/128/9405/9405698.png" alt=""><span>Send Money</span></a></li>
                <li><a href="/users/requestpage"><img src="https://i.ibb.co/vmMp8LD/vector-illustration-retro-style-hand-giving-money-other-hand-1284-42589-removebg-preview.png" alt=""><span>Request Money</span></a></li>
                <li><a href="/users/pending"><img src="https://cdn-icons-png.flaticon.com/128/2003/2003257.png" alt=""><span>Request Received</span></a></li>
                <li><a href="/users/transaction"><img src="https://cdn-icons-png.flaticon.com/128/3029/3029373.png" alt=""><span>Transaction</span></a></li>
                <li><a href="/add"><img src="https://cdn-icons-png.flaticon.com/128/3687/3687106.png" alt=""><span>Add Money</span></a></li>
                <li><a href="/users/sign-out"><img src="https://cdn-icons-png.flaticon.com/128/1828/1828490.png" alt=""><span>Sign Out</span></a></li>
            </ul>


        </div>
    </div>




    <%} else{%>

        <div class="login-div">
            <div class="login-msg">
                <h1>Please Login to Perform any Actions</h1>
                <li class="signin-h"><a href="/users/sign-in">sign-in</a></li>
                <li class="signup-h"><a href="/users/sign-up">sign-up</a></li>

            </div>
        </div>
        <%}%>

</body>

</html>