<!-- views/payment.ejs -->
<!DOCTYPE html>
<html>
<head>
   
</head>
<body>
    <h1>Complete Payment</h1>
    <h2><%= locals.user._id %></h2>
    <form >
    <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_MRWk1TNuLdSIrm"  async></script>
    </form>
   
    

</body>
</html>
