<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/send.css">
</head>

<body>
    <h1>send</h1>
    <div class="main">
        <div class="send-money">
            <h1>
                <%= user.name %>
            </h1>
            <form action="/users/send" method="post">
                <input type="email" name="email" placeholder="Enter email address of Reciver " id="">
                <input type="number" name="amount" placeholder="Enter Amount" id="">
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
</body>

</html>